.gitattributes
debug.log
wpgulp/node_modules
wpgulp/dist
wp-plugin-framework.sublime-workspace
app/assets/public/css
app/assets/public/js
app/assets/admin/css
app/assets/admin/js

app/Models/**
!app/Models/User.php

app/cache
app/Traits/**
!app/Traits

app/views/**
!app/views

app/Controllers/**
!app/Controllers

app/classes/**
!app/classes/tables
!app/classes/tables/class-list-table.php

# dependencies
.git
vendor
vendor/**
composer.lock